@mixin data ($color,$l-height,$f-size){
	color: $color;
	line-height: $l-height;
	font-size: $f-size;
}
%line{
	width: 20%;
	height: 2px;
	border: none;
}
.footer2{
	width: 100%;
	background-image: url(../3cbfbf8b6c3d85f30dceefd36fbe2bd3.jfif);
	background-position: center;
	background-size: cover;
	.footer2-main{
		width: 100%;
		padding: 79px 240px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: #7EC4BD;
		opacity: 90%;
	}
	.footer2-header{
		display: flex;
		flex-direction: column;
		gap: 50px;
		align-items: center;
		h2{
			@include data(#333,43px,35px);
			font-weight: 500;
			font-family: "mont";
			text-transform: uppercase;
		}
		.footer2-line{
			@extend %line;
			background: #00000017;
		}
		.footer2-items{
			width: 100%;
			display: flex;
			align-items: end;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 100px;
			.footer2-item{
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 25%;
				gap: 20px;
				.footer2-paragraf{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 10px;
					p{
						@include data(#212121,30px,23px);
						font-family: "vollcorn";
						font-weight: 400;
						display: flex;
						gap: 10px;
					}
				}
			}
			.footer2-img{
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 26px;
				h3{
					@include data(#333,25px,17px);
					font-weight: 400;
					font-family: "mont";
					text-transform: uppercase;
				}
				
			}
		}
	}
}
@media (max-width: 480px) {
	.footer2{
		.footer2-main{
			padding: 10px 60px;
		}
		.footer2-header{
			gap: 25px;
			h2{
				@include data(#333,26px,20px);
			}
			.footer2-line{
				height: 1px;
			}
			.footer2-items{
				justify-content: center;
				gap: 50px;
				.footer2-item{
					width: 50%;
					gap: 20px;
					.footer2-paragraf{
						gap: 10px;
						p{
							@include data(#212121,16px,10px);
						}
					}
				}
				.footer2-img{
					gap: 26px;
					h3{
						@include data(#333,18px,11px);
					}
					
				}
			}
		}
	}
}
@media (min-width: 481px) and (max-width: 767px){
	.footer2{
		.footer2-main{
			padding: 20px 100px;
		}
		.footer2-header{
			gap: 30px;
			h2{
				@include data(#333,28px,22px);
			}
			.footer2-line{
				height: 1px;
			}
			.footer2-items{
				justify-content: center;
				gap: 50px;
				.footer2-item{
					width: 60%;
					gap: 20px;
					.footer2-paragraf{
						gap: 10px;
						p{
							@include data(#212121,18px,12px);
						}
					}
				}
				.footer2-img{
					gap: 26px;
					h3{
						@include data(#333,20px,13px);
					}
					
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.footer2{
		.footer2-main{
			padding: 40px 150px;
		}
		.footer2-header{
			gap: 35px;
			h2{
				@include data(#333,30px,34px);
			}
			.footer2-line{
				height: 2px;
			}
			.footer2-items{
				justify-content: center;
				gap: 50px;
				.footer2-item{
					width: 70%;
					gap: 20px;
					.footer2-paragraf{
						gap: 10px;
						p{
							@include data(#212121,30px,20px);
						}
					}
				}
				.footer2-img{
					gap: 26px;
					h3{
						@include data(#333,30px,24px);
					}
					
				}
			}
		}
	}
}